@layer base {
    :root {
      --base-size: 1rem;
      --scale: 1.25;
      --h1: calc(var(--h2) * var(--scale));
      --h2: calc(var(--h3) * var(--scale));
      --h3: calc(var(--h4) * var(--scale));
      --h4: calc(var(--h5) * var(--scale));
      --h5: calc(var(--h6) * var(--scale));
      --h6: var(--base-size);
  
      /* colors */
      --lime: #a4ffa2;
      --magenta: #f47dda;
      --magenta50: #f47dda80;
      --white: #ffffff;
      --tan: #cec5b4;
      --teal: #2e6d81;
      --cyan: #7de6f4;
      --black: #050d14;
      --shadow: #050d1480;
      --gradient: linear-gradient(180deg, var(--black) 0%, var(--teal) 100%);
      --grey: #adb0c0;
  
      /* fonts */
      --sans-serif: "Poppins", sans-serif;
      --serif: "Cormorant Garamond", serif;
      --cursive: "Pacifico", cursive;
    }
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  
    body {
      font-family: var(--serif);
      font-weight: 300;
      line-height: 1.75;
      background: var(--gradient) no-repeat fixed;
      color: var(--white);
      font-size: var(--base-size);
      margin: 0;
      padding: 0;
    }
  
    p {
      margin-bottom: 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3rem 0 1.38rem;
      font-weight: 300;
      line-height: 1.3;
    }
  
    h1,
    .h1 {
      font-size: var(--h1);
    }
  
    h2,
    .h2 {
      font-size: var(--h2);
    }
  
    h3,
    .h3 {
      font-size: var(--h3);
    }
  
    h4,
    .h4 {
      font-size: var(--h4);
    }
  
    h5,
    .h5 {
      font-size: var(--h5);
    }
  
    h6,
    .h6 {
      font-size: var(--h6);
    }
    a {
      color: var(--lime);
    }
    a:hover {
      color: var(--cyan);
      text-decoration: none;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
    main {
      margin-bottom: 4rem;
    }
    figure {
      margin: 0;
      padding: 0;
    }
    blockquote {
      margin: 0;
      padding: 0;
    }
    cite {
      font-style: normal;
      display: block;
      margin-top: -3px;
    }
    footer {
      margin-top: 5rem;
      text-transform: uppercase;
    }
    .wrapper {
      margin: 0 auto;
      max-width: 500px;
    }
    /* buttons */
    .button-primary {
      color: var(--magenta);
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      padding: 1rem 1.5rem;
      border: 2px solid var(--magenta);
      border-radius: 10px;
      text-align: center;
      white-space: nowrap;
      width: 170px;
    }
    .button-primary:hover {
      border-color: var(--cyan);
      color: var(--cyan);
    }
    .button-fullwidth {
      display: block;
      width: 100%;
      border-radius: 0;
      margin: 2rem auto;
    }
  }
  @layer nav {
    /* these styles display at GREATER THAN 800PX or all the time */
    #top {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem;
      font-family: var(--cursive);
      max-width: 600px;
      margin: 4rem auto;
    }
    #top ul {
      list-style: none;
      margin: 0.5rem 0 0 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      gap: 1rem;
    }
    #top h1 {
      font-size: var(--h3);
      margin: 0;
    }
    #top h1 a:hover {
      color: var(--lime);
    }
    #top a {
      display: block;
      text-decoration: none;
      color: var(--white);
    }
    #top > nav a:focus,
    #top > nav a:hover {
      color: var(--magenta);
    }
    .bandname {
      padding-left: 1rem;
      display: none;
    }
    /* where the hamburger button displays */
    @media (max-width: 799px) {
      #mainMenuOpen {
        display: block;
        font-size: 2rem;
        line-height: 1;
        border: 0;
        background: transparent;
        color: var(--magenta);
      }
      /* hamburger icon itself - unicode character */
      #mainMenuOpen::after {
        content: "\2630";
      }
      /* style the navbar offscreen - position the box on screen */
      #mainMenuOpen + nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        padding-top: 100px;
        justify-content: center;
        opacity: 0;
        background: #000d;
        transition: left 0s 0.5s, opacity 0.5s;
      }
      /* transition from off screen to onscreen navbar */
      #mainMenuOpen:focus + nav,
      #mainMenuOpen + nav:focus-within {
        left: 0;
        opacity: 1;
        transition: left 0s, opacity 0.5s;
      }
      /* box containing links - transition onscreen */
      #mainMenuOpen + nav ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        position: relative;
        top: -50vh;
        min-width: 50vw;
        max-width: 100vw;
        overflow: hidden;
        transition: top 0.5s;
      }
      /* transition unordered list to the screen */
      #mainMenuOpen:focus + nav ul,
      #mainMenuOpen + nav:focus-within ul {
        top: 0;
      }
      /* link styles */
      #top > nav a {
        display: block;
        padding: 2rem 1rem;
        text-align: center;
      }
      /* close button */
      #mainMenuOpen + nav ul::after {
        content: "";
        background: url("https://assets.codepen.io/296057/fem-close.svg")
          no-repeat center;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  
    /* where the band name displays */
    @media (min-width: 500px) {
      .bandname {
        display: inline;
      }
    }
  }
  @layer cover {
    .cover {
      max-width: 500px;
      margin: 0 auto;
      padding-bottom: 2rem;
      display: grid;
      grid-template-rows: repeat (3, auto);
    }
    .cover img {
      border: 2px solid var(--cyan);
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .icons {
      grid-row: 1/3;
      grid-column: 1/2;
      justify-self: end;
      padding-right: 1rem;
    }
    #audio-player-container {
      grid-row: 3/4;
      grid-column: 1/2;
    }
    .icons ul {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .icons svg {
      fill: var(--lime);
    }
    .icons svg:hover {
      fill: var(--cyan);
    }
    @media (min-width: 800px) {
      .icons {
        margin-top: -2rem;
      }
      .icons ul {
        flex-flow: row wrap;
      }
    }
  }
  @layer audio {
    #audio-player-container .controls {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      margin: 1rem;
    }
    #audio-player-container .volume {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      justify-content: center;
      align-items: center;
    }
    #audio-player-container .name-play {
      display: grid;
      grid-template-columns: 2fr 0.5fr 2fr;
      gap: 1rem;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
    #audio-player-container .play-slider {
      display: grid;
      grid-template-columns: 0.15fr 1fr 0.15fr;
      align-items: center;
    }
    .name-play p {
      font-family: var(--cursive);
    }
    .name-play p:last-of-type {
      text-align: right;
    }
    #audio-player-container {
      --seek-before-width: 0%;
      --volume-before-width: 100%;
      --buffered-width: 0%;
    }
    #audio-player-container button {
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
  
    button#mute-icon {
      width: 2rem;
      margin-left: 1rem;
    }
    button#play-icon {
      display: block;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: var(--lime);
      width: 3rem;
      height: 3rem;
    }
    button#play-icon:hover {
      background-color: var(--cyan);
    }
    button#play-icon path {
      stroke: var(--black);
    }
    #audio-player-container path {
      stroke: var(--white);
    }
    #current-time {
      text-align: left;
    }
    #duration {
      text-align: right;
    }
    #audio-player-container output {
      display: inline-block;
      text-align: center;
    }
    #volume-slider {
      width: 100%;
      margin: 10px 2.5%;
    }
    #volume-slider::-webkit-slider-runnable-track {
      background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::-moz-range-track {
      background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::-ms-fill-upper {
      background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::before {
      width: var(--volume-before-width);
    }
    input[type="range"] {
      position: relative;
      -webkit-appearance: none;
      margin: 0;
      padding: 0;
      height: 19px;
      background-color: transparent;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
    input[type="range"]::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 0;
      width: var(--seek-before-width);
      height: 3px;
      background-color: var(--cyan);
      cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      box-sizing: content-box;
      border: 1px solid var(--cyan);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      margin: -7px 0 0 0;
    }
    input[type="range"]:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
    input[type="range"]::-moz-range-progress {
      background-color: var(--cyan);
    }
    input[type="range"]::-moz-focus-outer {
      border: 0;
    }
    input[type="range"]::-moz-range-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }
    input[type="range"]:active::-moz-range-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
    input[type="range"]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border: solid transparent;
      color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
      background-color: var(--cyan);
    }
    input[type="range"]::-ms-fill-upper {
      background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
      );
    }
    input[type="range"]::-ms-thumb {
      box-sizing: content-box;
      border: 1px solid var(--cyan);
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
    }
    input[type="range"]:active::-ms-thumb {
      transform: scale(1.2);
      background: var(--cyan);
    }
  }
  @layer reviews {
    .star {
      width: 18px;
    }
    .reviews {
      margin: 2rem auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
      text-align: center;
    }
    .hidemobile {
      display: none;
    }
    @media (min-width: 800px) {
      .wrapper {
        max-width: 800px;
      }
      .hidemobile {
        display: block;
      }
      .hidetablet {
        display: none;
      }
      .reviews {
        padding: 0 3rem;
      }
    }
    @media (min-width: 1000px) {
      .hidetablet {
        display: block;
      }
      .wrapper {
        max-width: 1440px;
      }
    }
  }
  @layer tracklist {
    .button-tracklist {
      display: block;
      border: none;
      font-family: var(--serif);
      text-transform: uppercase;
      width: 100%;
      color: var(--magenta);
      background-color: transparent;
      font-size: var(--h5);
      padding: 1rem;
    }
    .button-tracklist:hover {
      color: var(--cyan);
    }
    .tracklist {
      margin: 0 auto;
      padding: 0 1.5rem;
      border: 2px solid var(--magenta);
    }
    .tracklist:hover {
      border-color: var(--cyan);
    }
    .hidden {
      display: none;
    }
    .showing {
      display: table;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin: -4rem auto 1rem auto;
      font-family: var(--cursive);
    }
    caption,
    th {
      visibility: collapse;
      /* the accessible way of hiding this but still visible to screen readers */
    }
    td {
      padding: 1rem 0;
    }
    td:last-of-type {
      font-family: var(--serif);
      color: var(--magenta);
      font-weight: 600;
      text-align: right;
    }
  }
  @layer main-grid {
    @media (min-width: 800px) {
      .main-grid {
        display: grid;
        grid-template-columns: 100px 500px;
        max-width: 600px;
        gap: 0;
        margin: 0 auto;
        transition: all 0.5s ease;
      }
      .main-grid-open {
        grid-template-columns: 300px 500px;
        max-width: 800px;
        transition: all 0.5s ease;
      }
      .cover {
        order: 2;
      }
      .tracklist {
        height: 500px;
        justify-self: end;
        padding: 0rem;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
      }
      .button-tracklist {
        transform: rotate(90deg);
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 225px;
        transition: all 0.5s ease;
      }
      .button-close {
        transform: rotate(0deg);
        padding: 1rem 0;
        position: sticky;
        top: 0;
        background-color: var(--cyan);
        color: var(--black);
        margin-top: 0px;
        transition: all 0.5s ease;
      }
      .tracklist table {
        margin: -4rem 1rem 0.5rem 1rem;
      }
      .tracklist table td:last-of-type {
        padding-right: 2rem;
      }
      /* scrollbars for Webkit browsers
    h/t https://ishadeed.com/article/custom-scrollbars-css/
    */
      .tracklist::-webkit-scrollbar {
        width: 10px;
      }
  
      .tracklist::-webkit-scrollbar-track {
        background-color: var(--cyan);
      }
  
      .tracklist::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      }
      /* scrollbar for Firefox */
      html {
        scrollbar-color: var(--cyan) var(--grey);
        scrollbar-width: thin;
      }
    }
  }
  @layer album {
    .album {
      border: 2px solid var(--cyan);
      margin: 2rem auto;
      padding: 1rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    /* double border on corners - Create 4 boxes from the before/after nodes on the album container and the album's first child (h2) */
    .album::before,
    .album::after,
    .album > :first-child::before,
    .album > :first-child::after {
      position: absolute;
      /* change width and height to control corner size */
      width: 40px;
      height: 40px;
      /* border requires color, style, width to display - here we set color and style only */
      border-color: var(--cyan);
      border-style: solid;
      /* box requires some content to display */
      content: " ";
      /* controls space between inner and outer borders */
      margin: 0.25rem;
    }
    /* now for each box, display it in its location and display the border on only 2 sides */
    .album::before {
      top: 0;
      left: 0;
      border-width: 1px 0 0 1px;
    }
    .album::after {
      top: 0;
      right: 0;
      border-width: 1px 1px 0 0;
    }
    .album > :first-child::before {
      bottom: 0;
      right: 0;
      border-width: 0 1px 1px 0;
    }
    .album > :first-child::after {
      bottom: 0;
      left: 0;
      border-width: 0 0 1px 1px;
    }
    .album h1 {
      color: var(--lime);
      font-weight: 300;
      text-transform: uppercase;
      font-size: var(--h4);
      margin: 1rem 0;
    }
    .album h2 {
      margin: 0;
      font-size: var(--h6);
      font-family: var(--cursive);
    }
    .maglime {
      background: url(https://assets.codepen.io/296057/fem-blindfold-1200.jpg)
        no-repeat;
      background-size: cover;
    }
    .bolt-lg {
      width: 155px;
      margin: 2rem auto;
    }
    @media (min-width: 800px) {
      .maglime {
        height: 300px;
      }
    }
  }
  @layer diamonds {
    .diamond-container {
      --sq: 200px;
      --sq-gap: 1rem;
      --max-width: 325px;
      max-width: var(--max-width);
      margin: 2rem auto;
    }
    .diamond-border {
      border: 2px solid var(--cyan);
    }
    .diamonds li {
      list-style: none;
      width: var(--sq);
      height: var(--sq);
      margin-bottom: var(--sq-gap);
    }
  
    .diamonds li:nth-child(odd) {
      transform: rotate(4deg);
    }
    .diamonds li:nth-child(even) {
      transform: rotate(-6deg);
    }
    .diamonds li:first-child {
      background: url("https://assets.codepen.io/296057/fem-purple-arms.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(2) {
      background-image: url("https://assets.codepen.io/296057/fem-fireworks.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(3) {
      background-image: url("https://assets.codepen.io/296057/fem-blue-arms.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(4) {
      background-image: url("https://assets.codepen.io/296057/fem-camera.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(5) {
      background-image: url("https://assets.codepen.io/296057/fem-stripe.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(6) {
      background-image: url("https://assets.codepen.io/296057/fem-purple-hands.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(7) {
      background-image: url("https://assets.codepen.io/296057/fem-firework.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(8) {
      background-image: url("https://assets.codepen.io/296057/fem-stadium.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(9) {
      background-image: url("https://assets.codepen.io/296057/fem-flag.jpg");
      background-size: contain;
    }
    .diamonds li:nth-child(10) {
      background-image: url("https://assets.codepen.io/296057/fem-women.jpg");
      background-size: contain;
      margin-top: calc(-0.5 * var(--sq) - (0.5 * var(--sq-gap)));
    }
  
    @media (min-width: 324px) {
      .diamond-container {
        --sq: 150px;
        --sq-gap: 3px;
        --max-width: 325px;
      }
      /* turn off image rotation */
      .diamonds li:nth-child(odd) {
        transform: rotate(0deg);
      }
      .diamonds li:nth-child(even) {
        transform: rotate(0deg);
      }
      /* start with the diamonds in a basic flexbox layout */
      .diamonds {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--sq-gap);
        padding-left: calc(0.5 * var(--sq));
        padding-top: calc(0.5 * var(--sq));
      }
      /* display as diamonds and make them overlap a bit */
      .diamonds li {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin-left: calc(-0.5 * var(--sq));
        margin-bottom: 0;
      }
  
      /* For every 3rd diamond, starting with the second, pull it up in space from its current location */
      .diamonds li:nth-child(3n + 2) {
        margin-top: calc((-0.5 * var(--sq)) - (0.5 * var(--sq-gap)));
      }
    }
  
    /* at the next breakpoint, just change the variables to make things bigger */
    @media (min-width: 440px) {
      .diamond-container {
        --sq: 200px;
        --sq-gap: 4px;
        --max-width: 440px;
      }
    }
    @media (min-width: 800px) {
      .diamond-container {
        --sq: 250px;
        --sq-gap: 6px;
        --max-width: 550px;
      }
    }
  }
  @layer footer {
    footer {
      text-align: center;
    }
    footer ul {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    footer svg {
      fill: var(--lime);
    }
    footer svg:hover {
      fill: var(--cyan);
    }
  }
  @media (min-width: 800px) {
    .wrapper {
      max-width: 800px;
    }
  }
  @media (min-width: 1400px) {
    .wrapper {
      max-width: 1440px;
      display: grid;
      grid-template-columns: 6fr 4fr;
    }
    .hidetablet, .hidemobile {
      display: block;
    }
    .left {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .right {
      grid-column: 2/3;
      grid-row: 1/3;
      margin-bottom: 5rem;
    }
    footer {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: -20rem;
    }
  }
  