:root{
    --lime:	#A4FFA2;
    --magenta:#F47DDA;
    --magenta50:#F47DDA80;
    --white:#FFFFFF;
    --tan:#CEC5B4;
    --teal:#2E6D81;
    --cyan:#7DE6F4;
    --black:#050D14;
}

/* add border box sizing to the page right from the start */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .colors {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
  }

  .colors > *{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
  }

  .lime{
    background-color: var(--lime);
  }

  .magenta {
    background-color: var(--magenta);
  }

  .magenta50 {
    background-color: var(--magenta50);

  }

  .white {
    background-color: var(--white);

  }

  .tan {
    background-color: var(--tan);

  }

  .teal{
    background-color: var(--teal);

  }

  .cyan{
    background-color: var(--cyan);

  }

  .black{
    background-color: var(--black);

  }

