@layer base {
    :root {
      --base-size: 1rem;
      --scale: 1.25;
      --h1: calc(var(--h2) * var(--scale));
      --h2: calc(var(--h3) * var(--scale));
      --h3: calc(var(--h4) * var(--scale));
      --h4: calc(var(--h5) * var(--scale));
      --h5: calc(var(--h6) * var(--scale));
      --h6: var(--base-size);
  
      /* colors */
      --lime: #a4ffa2;
      --magenta: #f47dda;
      --magenta50: #f47dda80;
      --white: #ffffff;
      --tan: #cec5b4;
      --teal: #2e6d81;
      --cyan: #7de6f4;
      --black: #050d14;
      --shadow: #050d1480;
      --grey: #adb0c0;

      --gradient:linear-gradient(180deg, var(--black) 0%, var(--teal) 100%);
  
      /* fonts */
      --sans-serif: "Poppins", sans-serif;
      --serif: "Cormorant Garamond", serif;
      --cursive: "Pacifico", cursive;
    }
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  
    body {
      font-family: var(--serif);
      font-weight: 300;
      line-height: 1.75;
      background: var(--gradient);
      color: var(--white);
      font-size: var(--base-size);
      margin: 0;
      padding: 0;
      min-height: 1000px;
    }
  
    p {
      margin-bottom: 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3rem 0 1.38rem;
      font-weight: 300;
      line-height: 1.3;
    }
  
    h1,
    .h1 {
      font-size: var(--h1);
    }
  
    h2,
    .h2 {
      font-size: var(--h2);
    }
  
    h3,
    .h3 {
      font-size: var(--h3);
    }
  
    h4,
    .h4 {
      font-size: var(--h4);
    }
  
    h5,
    .h5 {
      font-size: var(--h5);
    }
  
    h6,
    .h6 {
      font-size: var(--h6);
    }
    a {
      color: var(--lime);
    }
    a:hover {
      color: var(--cyan);
      text-decoration: none;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
    main {
      margin-bottom: 4rem;
    }
    figure {
      margin: 0;
      padding: 0;
    }
    blockquote {
      margin: 0;
      padding: 0;
    }
    cite {
      font-style: normal;
      display: block;
      margin-top: -3px;
    }
    footer {
      margin-top: 5rem;
      text-transform: uppercase;
    }
  }


@layer audio {

    #audio-player-container .name-play {
        display: grid;
        grid-template-columns: 2fr 0.75fr 2fr;
        gap: 1rem;
        margin:1rem;
        font-family: var(--cursive);
    }

    #audio-player-container .controls {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #audio-player-container .volume {
        display: grid;
        grid-template-columns: 0.15fr 1fr 0.15fr;
        gap: 1rem;
        margin: 1rem;
        justify-content: center;
        align-items: center;
    }

    #audio-player-container .play-slider {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        justify-content: center;
        align-items: center;
    }


    button#mute-icon {
        width: 2rem;
        margin-left: 1rem;
        background-color: transparent;
        border-color: transparent;
    }

    button#mute-icon path {
       stroke: var(--white);

    }

    button#play-icon {
        display: block;
        padding: 0.5rem;
        background-color: var(--lime);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }

    button#play-icon:hover {
        background-color: var(--cyan);
    }

    button#play-icon path {
        stroke: var(--black);

    }



    #audion-player-container button {
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    #audio-player-container {
    --seek-before-width: 0%;
        --volume-before-width: 100%;
        --buffered-width: 0%;
        position: relative;
        margin: 100px 2.5% auto 2.5%;
        width: 95%;
        max-width: 500px;
        height: 132px;
    }
    #audio-player-container::before {
        position: absolute;
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        left: -2px;
        top: -2px;
        z-index: -1;
    }

    #play-icon {
        margin: 20px 2.5% 10px 2.5%;
    }
    path {
        stroke: #007db5;
    }
    .time {
        display: inline-block;
        width: 37px;
        text-align: center;
        font-size: 20px;
        margin: 28.5px 0 18.5px 0;
        float: left;
    }
    output {
        display: inline-block;
        width: 32px;
        text-align: center;
        font-size: 20px;
        margin: 10px 2.5% 0 5%;
        float: left;
        clear: left;
    }
    #volume-slider {
        margin: 10px 2.5%;
        width: 58%;
    }
    #volume-slider::-webkit-slider-runnable-track {
        background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::-moz-range-track {
        background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::-ms-fill-upper {
        background: rgba(0, 125, 181, 0.6);
    }
    #volume-slider::before {
        width: var(--volume-before-width);
    }

    input[type="range"] {
        position: relative;
        -webkit-appearance: none;
        width: 48%;
        margin: 0;
        padding: 0;
        height: 19px;
        margin: 30px 2.5% 20px 2.5%;
        float: left;
        outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
    }
    input[type="range"]::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: var(--seek-before-width);
        height: 3px;
        background-color: #007db5;
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        box-sizing: content-box;
        border: 1px solid #007db5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        margin: -7px 0 0 0;
    }
    input[type="range"]:active::-webkit-slider-thumb {
        transform: scale(1.2);
        background: #007db5;
    }
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
    }
    input[type="range"]::-moz-range-progress {
        background-color: #007db5;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    input[type="range"]::-moz-range-thumb {
        box-sizing: content-box;
        border: 1px solid #007db5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    input[type="range"]:active::-moz-range-thumb {
        transform: scale(1.2);
        background: #007db5;
    }
    input[type="range"]::-ms-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: transparent;
        border: solid transparent;
        color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        background-color: #007db5;
    }
    input[type="range"]::-ms-fill-upper {
        background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
    }
    input[type="range"]::-ms-thumb {
        box-sizing: content-box;
        border: 1px solid #007db5;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    input[type="range"]:active::-ms-thumb {
        transform: scale(1.2);
        background: #007db5;
    }

}